#openstack_gateway_network_id  = "ffffffff-ffff-ffff-ffff-ffffffffff"
#openstack_floating_ip_pool = "127.0.0.0/24"
#openstack_instance_flavor_id = "0"
#openstack_instance_image_id = "ffffffff-ffff-ffff-ffff-ffffffffff"
# PROVIDE THE CONTENT OF YOUR ID_RSA.PUB 
#openstack_instance_key_pair = "ssh-rsa somehashkeypair-name"
#openstack_subnet_cidr = "127.0.0.0/24"
